<div class="container color-dark">
    <div class="col">
        <p>work-experience items</p>
    </div>
</div>

<div class="container color-light">
    <div class="col">
        <form>
            <input type="text" class="txt" name="startDate" placeholder="start date (mm/yyyy)"
                [(ngModel)]="mySkills.frameworks"> <br>
            <input type="text" class="txt" name="endDate" placeholder="end date (mm/yyyy)"
                [(ngModel)]="mySkills.languages"><br>

            <input type="submit" class="btn" value="{{ btnTxt }}" (click)="agregarSkill()">
        </form>
    </div>

    <div class="col">
        <p class="life-container" *ngFor="let skill of skills">

            <input type="submit" class="btn" value="update" (click)='updateSkill(skill.id)'>
            <input type="submit" class="btn" value="delete" (click)='deleteSkill(skill.id)'>

            {{skill.frameworks}} – {{skill.languages}}
        </p>
    </div>
</div>