<div class="header-container">
    <div class="header-header">
      <p class="header-title">Header Items</p>
    </div>
  
    <div class="header-form-container">
      <form class="header-form">
        <input class="header-input" type="text" name="email" placeholder="Email" [(ngModel)]="myHeader.email">
        <input class="header-input" type="text" name="Lifegoal" placeholder="Lifegoal" [(ngModel)]="myHeader.goalLife">
        <input class="header-input" type="text" name="location" placeholder="Location" [(ngModel)]="myHeader.location">
        <input class="header-input" type="text" name="Name" placeholder="Name" [(ngModel)]="myHeader.name">
        <input class="header-input" type="text" name="phoneNumber" placeholder="Phone Number" [(ngModel)]="myHeader.phoneNumber">
        <input class="header-input" type="text" name="photourl" placeholder="Photo URL" [(ngModel)]="myHeader.photoUrl">
        <input class="header-input" type="text" name="socialnetwork" placeholder="Social Network" [(ngModel)]="myHeader.socialNetwork">
        <input class="submit-btn" type="submit" value="{{ btnTxt }}" (click)="agregarHeader()">
      </form>
    </div>
  
    <div class="header-list">
      <p *ngFor="let head of header" class="header-item">
        <input class="action-btn" type="submit" value="Update" (click)='confirmUpdate(head.id!)'>
        <input class="action-btn" type="submit" value="Delete" (click)='confirmDelete(head.id!)'>
        {{ head.name }} – {{ head.location }}
      </p>
    </div>
  </div>
  