<div class="certificate-container">
    <div class="certificate-header">
      <p class="certificate-title">Certificate Items</p>
    </div>
  
    <div class="certificate-form-container">
      <form class="certificate-form">
        <input class="certificate-input" type="text" name="email" placeholder="Mobile" [(ngModel)]="myCertificates.certificateMobile">
        <input class="certificate-input" type="text" name="Lifegoal" placeholder="Web" [(ngModel)]="myCertificates.certificateWeb">
        <input class="submit-btn" type="submit" value="{{ btnTxt }}" (click)="agregarCertificates()">
      </form>
    </div>
  
    <div class="certificate-list">
      <p *ngFor="let cer of certificates" class="certificate-item">
        <input class="action-btn" type="submit" value="Update" (click)='confirmUpdate(cer.id!)'>
        <input class="action-btn" type="submit" value="Delete" (click)='confirmDelete(cer.id!)'>
        {{ cer.certificateMobile }} – {{ cer.certificateWeb }}
      </p>
    </div>
  </div>
  