<header class="header">
  <h3 class="app-title"><b>admin-Cv App</b></h3>
  <nav class="navbar">
    <ul class="nav-list">
      <li class="nav-item"><a class="nav-link" routerLink="/header">Header</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/workexperience">Work Experience</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/education">Education</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/certificates">Certificates</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/skills">Skills</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/languages">Languages</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/interests">Interests</a></li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
