<div class="componente">
    <div class="container color-dark">
        <div class="col">
            <p class="titulo">interests items</p>
        </div>
    </div>

    <div class="container color-light form">
        <div class="col">
            <form>
                <input type="text" class="txt" name="email" placeholder="email" [(ngModel)]="myInterests.work">
                <br>


                <input type="submit" class="btn" value="{{ btnTxt }}" (click)="agregarInterests()">
            </form>
        </div>

        <div class="col">
            <p class="life-container" *ngFor="let interest of interests">

                <input type="submit" class="btn" value="update" (click)='updateInterests(interest.id)'>
                <input type="submit" class="btn" value="delete" (click)='deleteInterests(interest.id)'>

                {{interest.work}}
            </p>
        </div>
    </div>
</div>