<div class="interests-container">
    <div class="interests-header">
      <p class="interests-title">Interests Items</p>
    </div>
  
    <div class="interests-form-container">
      <form class="interests-form">
        <input class="interests-input" type="text" name="email" placeholder="Intereses" [(ngModel)]="myInterests.work">
        <input class="submit-btn" type="submit" value="{{ btnTxt }}" (click)="agregarInterests()">
      </form>
    </div>
  
    <div class="interests-list">
      <p *ngFor="let interest of interests" class="interests-item">
        <input class="action-btn" type="submit" value="Update" (click)="confirmUpdate(interest.id!)">
        <input class="action-btn" type="submit" value="Delete" (click)="confirmDelete(interest.id!)">
        {{ interest.work }}
      </p>
    </div>
  </div>
  