<div class="languages-container">
    <div class="languages-header">
      <p class="languages-title">Languages Items</p>
    </div>
  
    <div class="languages-form-container">
      <form class="languages-form">
        <input class="languages-input" type="text" name="startDate" placeholder="Lenguaje Origen"
               [(ngModel)]="myLanguages.originLanguage">
        <input class="languages-input" type="text" name="endDate" placeholder="Lenguaje Extra"
               [(ngModel)]="myLanguages.exLanguage">
        <input class="submit-btn" type="submit" value="{{ btnTxt }}" (click)="agregarLanguages()">
      </form>
    </div>
  
    <div class="languages-list">
      <p *ngFor="let lan of languagues" class="languages-item">
        <input class="action-btn update-btn" type="submit" value="Update" (click)="confirmUpdate(lan.id!)">
        <input class="action-btn delete-btn" type="submit" value="Delete" (click)="confirmDelete(lan.id!)">
        {{ lan.originLanguage }} – {{ lan.exLanguage }}
      </p>
    </div>
  </div>
  